In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Shaun\\Documents\\GitHub\\pythonlearnin\\Batting\\test.csv")

In [4]:

df["Span"].value_counts().sort_values(ascending=False)

2019-2019    45
2018-2019    44
2018-2018    20
2014-2019    18
1889-1889    17
             ..
1885-1886     1
1989-2013     1
1923-1933     1
1899-1906     1
1926-1926     1
Name: Span, Length: 1140, dtype: int64

In [10]:
df.drop(columns=["Unnamed: 0","Unnamed: 11"], inplace=True)
spans = df[df["Span"].str.startswith("20")]
spans.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,100,50,0
4,AN Cook (ENG),2006-2018,161,291,16,12472,294,45.35,33,57,9
5,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.4,38,52,11
12,Younis Khan (PAK),2000-2017,118,213,19,10099,313,52.05,34,33,19
13,HM Amla (SA),2004-2019,124,215,16,9282,311*,46.64,28,41,13
14,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,27,38,11